@page
@model ScreepsWebsite.Pages.BoostReactionsModel
@using ScreepsWebsite.Models
@{
}
<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd
            }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }

    td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

        td img {
            padding: 0px 10px 0px 0px;
        }
</style>

@*<div class="dropdown">
        <button onclick="dropdownFunction()" class="dropbtn"><img src="/images/OH.jpg" alt="Hydroxide" style="padding-right: 10px" />Hydroxide</button>
        <div id="dropdown" class="dropdown-content">
        </div>
    </div>*@

<table class="table" style="background-color:ghostwhite">
    <!-- Table Headers -->
    <tr>
        <th>Name</th>
        <th>Formula</th>
        <th>Time In Ticks</th>
        <th>Total Time In Ticks</th>
        <th>Body Part</th>
        <th>Effect</th>
        <th>Energy Saved With Each Boost</th>
        <th>SpawnTime Saved With Each Boost In Ticks</th>
        <th>Credit Cost With Each Boost Build</th>
        <th>Energy Saved - (Credit Cost * Energy Price)</th>
    </tr>

    <!-- Basic Reaction Header -->
    <tr style="background-color: grey">
        <td align="center" colspan="10"><b>Base Compounds</b></td>
    </tr>

    <!-- Reaction 1-->
    <tr>
        <td>
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />  hydroxide
        </td>
        <td>
            <img src="~/images/reactions/H.png" alt="hydrogen" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxygen" />
        </td>
        <td>
            20
        </td>
        <td>
            20
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            @CompoundPrices.Hydroxide
        </td>
        <td>
            None
        </td>
    </tr>

    <!-- Reaction 2 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZK.jpg" alt="zynthium keanite" />  zynthium keanite
        </td>
        <td>
            <img src="~/images/reactions/Z.png" alt="zynthium" style="padding: 0px" />
            +
            <img src="~/images/reactions/K.png" alt="keanium" />
        </td>
        <td>
            5
        </td>
        <td>
            5
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            @CompoundPrices.ZynthiumKeanite
        </td>
        <td>
            None
        </td>
    </tr>

    <!-- Reaction 3 -->
    <tr>
        <td>
            <img src="~/images/reactions/UL.jpg" alt="utrium lemergite" />  utrium lemergite
        </td>
        <td>
            <img src="~/images/reactions/U.png" alt="utrium" style="padding: 0px" />
            +
            <img src="~/images/reactions/L.png" alt="lemergium" />
        </td>
        <td>
            5
        </td>
        <td>
            5
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            @CompoundPrices.UtriumLemergite
        </td>
        <td>
            None
        </td>
    </tr>

    <!-- Reaction 4 -->
    <tr>
        <td>
            <img src="~/images/reactions/G.jpg" alt="Ghodium" />  Ghodium
        </td>
        <td>
            <img src="~/images/reactions/ZK.jpg" alt="zynthium keanite" style="padding: 0px" />
            +
            <img src="~/images/reactions/UL.jpg" alt="utrium lemergite" />
        </td>
        <td>
            5
        </td>
        <td>
            5
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            @CompoundPrices.Ghodium
        </td>
        <td>
            None
        </td>
    </tr>

    <!-- Tier 1 Header -->
    <tr style="background-color: grey">
        <td align="center" colspan="10"><b>Tier 1 Compounds</b></td>
    </tr>

    <!-- Table Headers -->
    <tr>
        <th>Name</th>
        <th>Formula</th>
        <th>Time In Ticks</th>
        <th>Total Time In Ticks</th>
        <th>Body Part</th>
        <th>Effect</th>
        <th>Energy Saved With Each Boost</th>
        <th>SpawnTime Saved With Each Boost In Ticks</th>
        <th>Credit Cost With Each Boost Build</th>
        <th>Energy Saved - (Credit Cost * Energy Price)</th>
    </tr>

    <!-- Reaction 1 -->
    <tr>
        <td>
            <img src="~/images/reactions/UH.jpg" alt="utrium hydride" />  utrium hydride
        </td>
        <td>
            <img src="~/images/reactions/U.png" alt="utrium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>ATTACK</b>
        </td>
        <td>
            +100% attack effectiveness
        </td>
        <td>
            @CompoundEnergySaved.UtriumHydride
        </td>
        <td>
            3
        </td>
        <td>
            @CompoundPrices.UtriumHydride
        </td>
        <td>
            @{
                double compoundPrice = CompoundPrices.UtriumHydride;
                double energyPrice = EnergyPrice.Energy;
                double ratio = Math.Round(@CompoundEnergySaved.UtriumHydride - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 2 -->
    <tr>
        <td>
            <img src="~/images/reactions/UO.jpg" alt="utrium oxide" />  utrium oxide
        </td>
        <td>
            <img src="~/images/reactions/U.png" alt="utrium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxygen" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +200% harvest effectiveness
        </td>
        <td>
            @CompoundEnergySaved.UtriumOxide
        </td>
        <td>
            6
        </td>
        <td>
            @CompoundPrices.UtriumOxide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.UtriumOxide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.UtriumOxide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 3 -->
    <tr>
        <td>
            <img src="~/images/reactions/KH.jpg" alt="utrium hydride" />  utrium hydride
        </td>
        <td>
            <img src="~/images/reactions/K.png" alt="keanium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>CARRY</b>
        </td>
        <td>
            +50 capacity
        </td>
        <td>
            @CompoundEnergySaved.UtriumHydride
        </td>
        <td>
            3
        </td>
        <td>
            @CompoundPrices.UtriumHydride
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.UtriumHydride;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.UtriumHydride - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 4 -->
    <tr>
        <td>
            <img src="~/images/reactions/KO.jpg" alt="keanium oxide" />  keanium oxide
        </td>
        <td>
            <img src="~/images/reactions/K.png" alt="keanium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxide" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>RANGED_ATTACK</b>
        </td>
        <td>
            +100% rangedAttack and rangedMassAttack effectiveness
        </td>
        <td>
            @CompoundEnergySaved.KeaniumOxide
        </td>
        <td>
            3
        </td>
        <td>
            @CompoundPrices.KeaniumOxide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.KeaniumOxide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.KeaniumOxide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 5 -->
    <tr>
        <td>
            <img src="~/images/reactions/LH.jpg" alt="lemergium hydride" />  lemergium hydride
        </td>
        <td>
            <img src="~/images/reactions/L.png" alt="lemergium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            15
        </td>
        <td>
            15
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +50% repair and build effectiveness without increasing the energy cost
        </td>
        <td>
            @CompoundEnergySaved.LemergiumHydride[0]
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.LemergiumHydride
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.LemergiumHydride;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(Int32.Parse(@CompoundEnergySaved.LemergiumHydride[1]) - (compoundPrice / energyPrice), 2);
                double ratio2 = Math.Round(Int32.Parse(@CompoundEnergySaved.LemergiumHydride[2]) - (compoundPrice / energyPrice), 2);
            }
            Build: @ratio
            Repair: @ratio2
        </td>
    </tr>

    <!-- Reaction 6 -->
    <tr>
        <td>
            <img src="~/images/reactions/LO.jpg" alt="lemergium oxide" />  lemergium oxide
        </td>
        <td>
            <img src="~/images/reactions/L.png" alt="lemergium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxide" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>HEAL</b>
        </td>
        <td>
            +100% heal and rangedHeal effectiveness
        </td>
        <td>
            @CompoundEnergySaved.LemergiumOxide
        </td>
        <td>
            3
        </td>
        <td>
            @CompoundPrices.LemergiumOxide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.LemergiumOxide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.LemergiumOxide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 7 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZH.jpg" alt="zynthium hydride" />  zynthium hydride
        </td>
        <td>
            <img src="~/images/reactions/Z.png" alt="zynthium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            20
        </td>
        <td>
            20
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +100% dismantle effectiveness
        </td>
        <td>
            @CompoundEnergySaved.ZynthiumHydride
        </td>
        <td>
            3
        </td>
        <td>
            @CompoundPrices.ZynthiumHydride
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.ZynthiumHydride;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.ZynthiumHydride - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 8 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZO.jpg" alt="zynthium oxide" />  zynthium oxide
        </td>
        <td>
            <img src="~/images/reactions/Z.png" alt="zynthium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxide" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>MOVE</b>
        </td>
        <td>
            +100% fatigue decrease speed
        </td>
        <td>
            @CompoundEnergySaved.ZynthiumOxide
        </td>
        <td>
            3
        </td>
        <td>
            @CompoundPrices.ZynthiumOxide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.ZynthiumOxide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.ZynthiumOxide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 9 -->
    <tr>
        <td>
            <img src="~/images/reactions/GH.jpg" alt="ghodium hydride" />  ghodium hydride
        </td>
        <td>
            <img src="~/images/reactions/G.jpg" alt="ghodium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            10
        </td>
        <td>
            15
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +50% upgradeController effectiveness without increasing the energy cost
        </td>
        <td>
            @CompoundEnergySaved.GhodiumHydride[0]
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.GhodiumHydride
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.GhodiumHydride;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(Int32.Parse(@CompoundEnergySaved.GhodiumHydride[1]) - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 10 -->
    <tr>
        <td>
            <img src="~/images/reactions/GO.jpg" alt="ghodium oxide" />  ghodium oxide
        </td>
        <td>
            <img src="~/images/reactions/ZK.jpg" alt="zynthium keanite" style="padding: 0px" />
            +
            <img src="~/images/reactions/UL.jpg" alt="utrium lemergite" />
        </td>
        <td>
            10
        </td>
        <td>
            15
        </td>
        <td>
            <b>TOUGH</b>
        </td>
        <td>
            -30% damage taken
        </td>
        <td>
            @CompoundEnergySaved.GhodiumOxide
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.GhodiumOxide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.GhodiumOxide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.GhodiumOxide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Tier 2 Header -->
    <tr style="background-color: grey">
        <td align="center" colspan="10"><b>Tier 2 Compounds</b></td>
    </tr>

    <!-- Table Headers -->
    <tr>
        <th>Name</th>
        <th>Formula</th>
        <th>Time In Ticks</th>
        <th>Total Time In Ticks</th>
        <th>Body Part</th>
        <th>Effect</th>
        <th>Energy Saved With Each Boost</th>
        <th>SpawnTime Saved With Each Boost In Ticks</th>
        <th>Credit Cost With Each Boost Build</th>
        <th>Energy Saved - (Credit Cost * Energy Price)</th>
    </tr>

    <!-- Reaction 1 -->
    <tr>
        <td>
            <img src="~/images/reactions/UHO2.jpg" alt="utrium acid" />  utrium acid
        </td>
        <td>
            <img src="~/images/reactions/UH.jpg" alt="utrium hydride" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            5
        </td>
        <td>
            35
        </td>
        <td>
            <b>ATTACK</b>
        </td>
        <td>
            +200% attack effectiveness
        </td>
        <td>
            @CompoundEnergySaved.UtriumAcid
        </td>
        <td>
            6
        </td>
        <td>
            @CompoundPrices.UtriumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.UtriumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.UtriumAcid - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 2 -->
    <tr>
        <td>
            <img src="~/images/reactions/UHO2.jpg" alt="utrium alkalide" />  utrium alkalide
        </td>
        <td>
            <img src="~/images/reactions/UO.jpg" alt="utrium oxide" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            5
        </td>
        <td>
            35
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +400% harvest effectiveness
        </td>
        <td>
            @CompoundEnergySaved.UtriumAlkalide
        </td>
        <td>
            12
        </td>
        <td>
            @CompoundPrices.UtriumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.UtriumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.UtriumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 3 -->
    <tr>
        <td>
            <img src="~/images/reactions/KH2O.jpg" alt="keanium acid" />  keanium acid
        </td>
        <td>
            <img src="~/images/reactions/KH.jpg" alt="keanium hydride" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            5
        </td>
        <td>
            35
        </td>
        <td>
            <b>CARRY</b>
        </td>
        <td>
            +100 capacity
        </td>
        <td>
            @CompoundEnergySaved.KeaniumAcid
        </td>
        <td>
            6
        </td>
        <td>
            @CompoundPrices.KeaniumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.KeaniumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.KeaniumAcid - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 4 -->
    <tr>
        <td>
            <img src="~/images/reactions/KHO2.jpg" alt="keanium alkalide" />  keanium alkalide
        </td>
        <td>
            <img src="~/images/reactions/KO.jpg" alt="keanium oxide" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            5
        </td>
        <td>
            35
        </td>
        <td>
            <b>RANGED_ATTACK</b>
        </td>
        <td>
            +200% rangedAttack and rangedMassAttack effectiveness
        </td>
        <td>
            @CompoundEnergySaved.KeaniumAlkalide
        </td>
        <td>
            6
        </td>
        <td>
            @CompoundPrices.KeaniumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.KeaniumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.KeaniumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 5 -->
    <tr>
        <td>
            <img src="~/images/reactions/LH2O.jpg" alt="lemergium acid" />  lemergium acid
        </td>
        <td>
            <img src="~/images/reactions/LH.jpg" alt="lemergium hydride" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            10
        </td>
        <td>
            45
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +80% repair and build effectiveness without increasing the energy cost
        </td>
        <td>
            @CompoundEnergySaved.LemergiumAcid[0]
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.LemergiumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.LemergiumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(Int32.Parse(@CompoundEnergySaved.LemergiumAcid[1]) - (compoundPrice / energyPrice), 2);
                ratio2 = Math.Round(Int32.Parse(@CompoundEnergySaved.LemergiumAcid[2]) - (compoundPrice / energyPrice), 2);
            }
            Build: @ratio
            Repair: @ratio2
        </td>
    </tr>

    <!-- Reaction 6 -->
    <tr>
        <td>
            <img src="~/images/reactions/LHO2.jpg" alt="lemergium alkalide" />  lemergium alkalide
        </td>
        <td>
            <img src="~/images/reactions/LO.jpg" alt="lemergium oxide" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            5
        </td>
        <td>
            35
        </td>
        <td>
            <b>HEAL</b>
        </td>
        <td>
            +200% heal and rangedHeal effectiveness
        </td>
        <td>
            @CompoundEnergySaved.LemergiumAlkalide
        </td>
        <td>
            6
        </td>
        <td>
            @CompoundPrices.LemergiumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.LemergiumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.LemergiumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 7 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZH2O.jpg" alt="zynthium acid" />  zynthium acid
        </td>
        <td>
            <img src="~/images/reactions/ZH.jpg" alt="zynthium oxide" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            40
        </td>
        <td>
            70
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +200% dismantle effectiveness
        </td>
        <td>
            @CompoundEnergySaved.ZynthiumAcid
        </td>
        <td>
            6
        </td>
        <td>
            @CompoundPrices.ZynthiumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.ZynthiumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.ZynthiumAcid - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 8 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZHO2.jpg" alt="zynthium alkalide" />  zynthium alkalide
        </td>
        <td>
            <img src="~/images/reactions/ZH.jpg" alt="zynthium hydride" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            5
        </td>
        <td>
            35
        </td>
        <td>
            <b>MOVE</b>
        </td>
        <td>
            +200% fatigue decrease speed
        </td>
        <td>
            @CompoundEnergySaved.ZynthiumAlkalide
        </td>
        <td>
            6
        </td>
        <td>
            @CompoundPrices.ZynthiumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.ZynthiumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.ZynthiumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 9 -->
    <tr>
        <td>
            <img src="~/images/reactions/GH2O.jpg" alt="ghodium acid" />  ghodium acid
        </td>
        <td>
            <img src="~/images/reactions/GH.jpg" alt="ghodium hydride" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            15
        </td>
        <td>
            50
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +80% upgradeController effectiveness without increasing the energy cost
        </td>
        <td>
            @CompoundEnergySaved.GhodiumAcid[0]
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.GhodiumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.GhodiumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(Int32.Parse(@CompoundEnergySaved.GhodiumAcid[1]) - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 10 -->
    <tr>
        <td>
            <img src="~/images/reactions/GHO2.jpg" alt="ghodium alkalide" />  ghodium alkalide
        </td>
        <td>
            <img src="~/images/reactions/GO.jpg" alt="ghodium oxide" style="padding: 0px" />
            +
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />
        </td>
        <td>
            30
        </td>
        <td>
            65
        </td>
        <td>
            <b>TOUGH</b>
        </td>
        <td>
            -50% damage taken
        </td>
        <td>
            @CompoundEnergySaved.GhodiumAlkalide
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.GhodiumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.GhodiumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.GhodiumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Tier 3 Header -->
    <tr style="background-color: grey">
        <td align="center" colspan="10"><b>Tier 3 Compounds</b></td>
    </tr>

    <!-- Table Headers -->
    <tr>
        <th>Name</th>
        <th>Formula</th>
        <th>Time In Ticks</th>
        <th>Total Time In Ticks</th>
        <th>Body Part</th>
        <th>Effect</th>
        <th>Energy Saved With Each Boost</th>
        <th>SpawnTime Saved With Each Boost In Ticks</th>
        <th>Credit Cost With Each Boost Build</th>
        <th>Energy Saved - (Credit Cost * Energy Price)</th>
    </tr>

    <!-- Reaction 1 -->
    <tr>
        <td>
            <img src="~/images/reactions/XUHO2.jpg" alt="catalyzed utrium acid" />  catalyzed utrium acid
        </td>
        <td>
            <img src="~/images/reactions/UH2O.jpg" alt="utrium acid" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            60
        </td>
        <td>
            95
        </td>
        <td>
            <b>ATTACK</b>
        </td>
        <td>
            +300% attack effectiveness
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedUtriumAcid
        </td>
        <td>
            9
        </td>
        <td>
            @CompoundPrices.CatalyzedUtriumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedUtriumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedUtriumAcid - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 2 -->
    <tr>
        <td>
            <img src="~/images/reactions/XUHO2.jpg" alt="catalyzed utrium alkalide" />  catalyzed utrium alkalide
        </td>
        <td>
            <img src="~/images/reactions/UHO2.jpg" alt="utrium alkalide" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            60
        </td>
        <td>
            95
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +600% harvest effectiveness
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedUtriumAlkalide
        </td>
        <td>
            18
        </td>
        <td>
            @CompoundPrices.CatalyzedUtriumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedUtriumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedUtriumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 3 -->
    <tr>
        <td>
            <img src="~/images/reactions/XKH2O.jpg" alt="catalyzed keanium acid" />  catalyzed keanium acid
        </td>
        <td>
            <img src="~/images/reactions/KH2O.jpg" alt="keanium acid" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            60
        </td>
        <td>
            95
        </td>
        <td>
            <b>CARRY</b>
        </td>
        <td>
            +150 capacity
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedKeaniumAcid
        </td>
        <td>
            9
        </td>
        <td>
            @CompoundPrices.CatalyzedKeaniumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedKeaniumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedKeaniumAcid - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 4 -->
    <tr>
        <td>
            <img src="~/images/reactions/XKHO2.jpg" alt="keanium alkalide" />  catalyzed keanium alkalide
        </td>
        <td>
            <img src="~/images/reactions/KHO2.jpg" alt="keanium alkalide" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            60
        </td>
        <td>
            95
        </td>
        <td>
            <b>RANGED_ATTACK</b>
        </td>
        <td>
            +300% rangedAttack and rangedMassAttack effectiveness
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedKeaniumAlkalide
        </td>
        <td>
            9
        </td>
        <td>
            @CompoundPrices.CatalyzedKeaniumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedKeaniumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedKeaniumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 5 -->
    <tr>
        <td>
            <img src="~/images/reactions/XLH2O.jpg" alt="catalyzed lemergium acid" />  catalyzed lemergium acid
        </td>
        <td>
            <img src="~/images/reactions/LH2O.jpg" alt="lemergium acid" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            65
        </td>
        <td>
            110
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +100% repair and build effectiveness without increasing the energy cost
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedLemergiumAcid[0]
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.CatalyzedLemergiumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedLemergiumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(Int32.Parse(@CompoundEnergySaved.CatalyzedLemergiumAcid[1]) - (compoundPrice / energyPrice), 2);
                ratio2 = Math.Round(Int32.Parse(@CompoundEnergySaved.CatalyzedLemergiumAcid[2]) - (compoundPrice / energyPrice), 2);
            }
            Build: @ratio
            Repair: @ratio2
        </td>
    </tr>

    <!-- Reaction 6 -->
    <tr>
        <td>
            <img src="~/images/reactions/XLHO2.jpg" alt="catalyzed lemergium alkalide" />  catalyzed lemergium alkalide
        </td>
        <td>
            <img src="~/images/reactions/LHO2.jpg" alt="lemergium alkalide" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            60
        </td>
        <td>
            95
        </td>
        <td>
            <b>HEAL</b>
        </td>
        <td>
            +300% heal and rangedHeal effectiveness
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedLemergiumAlkalide
        </td>
        <td>
            9
        </td>
        <td>
            @CompoundPrices.CatalyzedLemergiumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedLemergiumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedLemergiumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 7 -->
    <tr>
        <td>
            <img src="~/images/reactions/XZH2O.jpg" alt="catalyzed zynthium acid" />  catalyzed zynthium acid
        </td>
        <td>
            <img src="~/images/reactions/ZH2O.jpg" alt="zynthium acid" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            160
        </td>
        <td>
            230
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +300% dismantle effectiveness
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedZynthiumAcid
        </td>
        <td>
            9
        </td>
        <td>
            @CompoundPrices.CatalyzedZynthiumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedZynthiumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedZynthiumAcid - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 8 -->
    <tr>
        <td>
            <img src="~/images/reactions/XZHO2.jpg" alt="catalyzed zynthium alkalide" />  catalyzed zynthium alkalide
        </td>
        <td>
            <img src="~/images/reactions/ZHO2.jpg" alt="zynthium alkalide" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            60
        </td>
        <td>
            95
        </td>
        <td>
            <b>MOVE</b>
        </td>
        <td>
            +300% fatigue decrease speed
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedZynthiumAlkalide
        </td>
        <td>
            9
        </td>
        <td>
            @CompoundPrices.CatalyzedZynthiumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedZynthiumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedZynthiumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 9 -->
    <tr>
        <td>
            <img src="~/images/reactions/XGH2O.jpg" alt="catalyzed ghodium acid" />  catalyzed ghodium acid
        </td>
        <td>
            <img src="~/images/reactions/GH2O.jpg" alt="ghodium acid" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            80
        </td>
        <td>
            130
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +100% upgradeController effectiveness without increasing the energy cost
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedGhodiumAcid[0]
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.CatalyzedGhodiumAcid
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedGhodiumAcid;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(Int32.Parse(@CompoundEnergySaved.CatalyzedGhodiumAcid[1]) - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>

    <!-- Reaction 10 -->
    <tr>
        <td>
            <img src="~/images/reactions/XGHO2.jpg" alt="catalyzed ghodium alkalide" />  catalyzed ghodium alkalide
        </td>
        <td>
            <img src="~/images/reactions/GHO2.jpg" alt="ghodium alkalide" style="padding: 0px" />
            +
            <img src="~/images/reactions/X.png" alt="catalyst" />
        </td>
        <td>
            150
        </td>
        <td>
            215
        </td>
        <td>
            <b>TOUGH</b>
        </td>
        <td>
            -50% damage taken
        </td>
        <td>
            @CompoundEnergySaved.CatalyzedGhodiumAlkalide
        </td>
        <td>
            0
        </td>
        <td>
            @CompoundPrices.CatalyzedGhodiumAlkalide
        </td>
        <td>
            @{
                compoundPrice = CompoundPrices.CatalyzedGhodiumAlkalide;
                energyPrice = EnergyPrice.Energy;
                ratio = Math.Round(@CompoundEnergySaved.CatalyzedGhodiumAlkalide - (compoundPrice / energyPrice), 2);
            }
            @ratio
        </td>
    </tr>
</table>





<p style="padding: 50px 10px 50px">
    <h2>Some more details about the table</h2>
    <div>
        <b>All market prices are a 7 day average from shard3 on 29-8-2020, they can differ from current prices. In this calculation are minerals being used as cost.</b>
    </div>
    <div>
        <b>For the boost cost is a 15 resources used (when you unboost you get 50% back), in the energySaved column is the 20 energy included for boosting the creep.</b>
    </div>
    <div>
        <b>Nothing is perfect so check for yourself if the values are really what I say. External saves for boosting are excluded from the table.</b>
    </div>
</p>

<table class="table" style="max-width:50%">
    <tr>
        <th align="center" colspan="2">Prices used</th>
    </tr>
    <tr>
        <th>
            Energy
        </th>
        <td>
            @EnergyPrice.Energy
        </td>
    </tr>
    @foreach (string[] resource in Model.Minerals)
    {

        <tr>
            <th>
                @resource[0]
            </th>
            <td>
                @resource[1]
            </td>
        </tr>
    }
</table>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function dropdownFunction() {
        document.getElementById("dropdown");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                else {
                    openDropdown.classList.add('show');
                }
            }
        }
    }
</script>
